.modal-dialog {
    min-width: 960px;

    .modal-content {
        background-color: $color-yellow-3;

        .modal-header {
            border-bottom: none;

            p {
                @include textStyle(red, 0.9rem, 400);
            }
        }

        .modal-body {
            background-color: $color-white-1;
            margin: 1rem;
            border: none;

            .table {
                border-top: none !important;

                thead {
                    background-color: $color-dark-2;

                    th {
                        color: $color-yellow-2;
                    }
                }

                tbody {
                    tr {
                        background-color: $color-blue;

                        td {
                            color: white;
                        }

                        .increase,
                        .decrease {
                            background-color: $color-yellow-2;
                        }
                    }
                }
            }
        }

        .modal-footer {
            border-top: none;

            button {
                color: white;
            }
        }
    }
}

#offcanvasRight {
    #orderList {
        .productCartName {
            font-size: 20px;
            font-weight: 550;
        }

        .productCartPrice {
            font-size: 18px;
            font-weight: 500;
            color: #f57224;
        }

        .deleteButton {
            font-size: 18px;
        }
    }

    #totalPayment {
        font-size: 18px;
        font-weight: 600;
        color: #f57224;
    }

    #pay {
        width: 250px;
        margin-top: 30px;
    }

    #delete {
        width: 250px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 430px) {
    #offcanvasRight {
        width: 88%;

        #orderList {
            .productCartName {
                font-size: 18px;
                font-weight: 550;
            }

            .productCartPrice {
                padding: 6px;
                font-size: 16px;
                font-weight: 500;
                color: #f57224;
            }

            & .quantityGroup {
                padding: 6px;

                &>.decrease,
                &>.increase {
                    padding: 0.2rem 0.4rem !important;
                }
            }


            #numberCart {
                font-size: 15px;
            }

            .deleteButton {
                font-size: 18px;
            }
        }
    }
}